<!DOCTYPE html>
<html lang="vn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>

    <!-- Favicon -->
    <link rel="icon" href="/public/images/favicon.ico">

    <!-- Import CSS file -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="/public/stylesheets/default.css">
    <link rel="stylesheet" href="/public/stylesheets/home.css">

    <!-- Import JS file -->
    <script src="/public/javascripts/home.js"></script>
</head>
<body>
    <section class="container">
        <div class="content-left">
            <div class="content-left-user-info">
                <h1 class="content-left-user-info-header">Thông tin người dùng</h1>
                <img src="<%=avatar%>" class="content-left-user-info-avatar">
                <p class="content-left-user-info-name"><%= name %></p>
                <p class="content-left-user-info-id">User id: <span><%= userid %></span></p>
            </div>

            <hr width="100%" color="#e5e5e5" size="1px">
            
            <div class="content-left-add-tree">
                <h1 class="content-left-add-tree-header">Thêm cây cảnh</h1>
                <div class="content-left-add-tree-name">
                    <p>Loại cây</p>
                    <input type="text" placeholder="Nhập loại cây" required>
                </div>
                <div class="content-left-add-tree-id">
                    <p>Mã hệ thống</p>
                    <input type="text" placeholder="Nhập mã hệ thống tưới" required>
                </div>
                <div class="content-left-add-tree-avatar">
                    <p>Hình minh họa</p>
                    <input type="file" accept="image/png, image/jpeg" required>
                </div>
                <div class="content-left-add-tree-description">
                    <p>Mô tả</p>
                    <input type="text" placeholder="Nhập mô tả cây" required>
                </div>

                <div style="margin-bottom: 10px; margin-top: 5px;" class="content-left-add-tree-announce">
                    <p style="font-size: 12px; color: red;">Mời bạn nhập thông tin!</p>
                </div>

                <div class="content-left-add-tree-button">
                    <button type="submit">Thêm mới</button>
                </div>
            </div>
        </div>
    
        <div class="content-right-list-tree">
            <div class="content-right-list-tree-header">
                <h1>Danh sách cây cảnh</h1>
            </div>
    
            <div class="content-right-list-tree-body">
                <!-- Liệt kê những cây đang quản lý -->

                <% for(let i = 0; i < listTree.length; i++) { %>
                <div class="content-right-tree">
                    <div onclick="showDetail(this)" class="content-right-tree-content">
                        <div class="content-right-tree-left">
                            <img src="<%=listTree[i].image%>" alt="" class="content-right-tree-avatar">
                        </div>
                        
                        <div class="content-right-tree-right">
                            <p class="content-right-tree-name"><%=listTree[i].type%></p>
                            <p class="content-right-tree-id">ID <span><%=listTree[i].id%></span></p>
                            <p class="content-right-tree-description"><%=listTree[i].description%></p>
                        </div>
                    </div>
                    <div onclick="deleteTree(this)" class="content-right-tree-delete">
                        <i class="fas fa-2x fa-solid fa-trash"></i>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </section>
</body>
</html>